body {
    background-image: url("./images/poe article pic.png");
    background-size: cover;
}
h1 {
     color: #cd8af9;
     font-family: DejaVu Sans Mono, monospace;
     padding: 6px;
}
p {
    color:#e8e7eb;
    font-family: DejaVu Sans Mono, monospace;
    margin: 4px;
}

h2 {
    color: #dcb5f6;
    font-family: DejaVu Sans Mono, monospace;
     margin: 6px;
}
a {
    color: #f9ed8a;
    font-family: DejaVu Sans Mono, monospace;
}

img {
    border-radius: 8px;
    margin: 6px;
}

div {
    flex-direction: column;
    position: absolute;
    background-color: #24232b;
    border:solid;
    padding:12px;
    border-radius: 24px;
    border-color: #7e7693;
}