body {
    background-color: #24232b;
}
h1 {
     color: #cd8af9;
     font-family: DejaVu Sans Mono, monospace;
     padding: 4px;
}
p {
    color:#e8e7eb;
    font-family: DejaVu Sans Mono, monospace;
}

h2 {
    color: #dcb5f6;
    font-family: DejaVu Sans Mono, monospace;
     margin: 4px;
}
a {
    color: #f9ed8a;
    font-family: DejaVu Sans Mono, monospace;
}

img {
    border-radius: 8px;
}